<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- End of copied code -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
    <body>
        <div class="row">
            <div class="centered-pills">
                <ul class="nav nav-pills centered-pills">
                    <li id="cookie"><img src="/images/cookie.jpg"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="centered-pills">
                <ul class="nav nav-pills centered-pills">
                    <li>Movie Monster</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="centered-pills">
                <ul class="nav nav-pills centered-pills">
                    <% if current_user %>
                        <li role="presentation"><a href="/videos/my">My Videos</a></li>
                        <li role="presentation"><a href="/videos">Everyone's Videos</a></li>
                        <li role="presentation"><a href="/profile/edit">Profile</a></li>
                        <li role="presentation"><a href="/logout">Logout</a></li>
                    <% else %>
                        <li role="presentation"><a href="/signup">Signup</a></li>
                        <li role="presentation"><a href="/login">Login</a></li>
                        <li role="presentation"><a href="/all_videos">All Videos</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
      <%= yield %>
    </body>
</html>
