<html>
    <body>
        <div class="row" id="signup">
            <div class="col-md-4 col-sm-offset-4">
                <div class="formbox">
                    <h1>Signup</h1>
                    <form action="/signup" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="username-field" class="control-label col-sm-4">
                                <p>Username</p>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" name="username" id="username-field" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email-field" class="control-label col-sm-4">
                                <p>Email</p>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" name="email" id="email-field" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password-field" class="control-label col-sm-4">
                                <p>Password</p>
                            </label>
                            <div class="col-sm-7">
                                <input type="password" name="password" id="password-field" class="form-control">
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-submit">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>